body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0d0d0d;
    color: white;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(black, #1a1a1a);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero h1 {
    font-size: 60px;
    color: gold;
    font-family: 'Playfair Display', serif;
}
.hero p {
    font-size: 20px;
}

/* SECTIONS */
section {
    padding: 50px;
    text-align: center;
}

/* ABOUT */
.about p {
    max-width: 700px;
    margin: auto;
}

/* SERVICES */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.cards div {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    width: 150px;
}

/* FORM */
form input, form select {
    display: block;
    margin: 10px auto;
    padding: 12px;
    width: 260px;
    border-radius: 5px;
    border: none;
}

button {
    background: gold;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

/* DATA */
#data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#data div {
    background: #1a1a1a;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
}

/* FOOTER */
.footer {
    background: black;
    padding: 30px;
}
.footer a {
    color: gold;
    text-decoration: none;
}